.aws-btn {
    --slider-height-percentage: 50%;
    --slider-transition-duration: 525ms;
    --organic-arrow-thickness: 4px;
    --organic-arrow-border-radius: 0px;
    --organic-arrow-height: 35px;
    --organic-arrow-color: #a1a1a1;
    --control-button-width: 10%;
    --control-button-height: 25%;
    --control-button-background: transparent;
    --control-bullet-color: #eeb644;
    --control-bullet-active-color: #ffaa00;
    --loader-bar-color: #eeb644;
    --loader-bar-height: 6px;
}
